<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.TopMenuInfoDao">

    <select id="getTopMenuList" resultType="com.example.demo.domain.BoardInfoVO">
        <![CDATA[
            select board_info_idx, board_info_name
            from board_info_table
            order by board_info_idx
        ]]>
    </select>
</mapper>