<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--        private int user_idx;-->
<!--        private String user_name;-->
<!--        private String user_id;-->
<!--        private String user_pw;-->
<!--        private String user_email;-->
<!--        private String user_addr;-->
<!--        private String user_goal;-->

<mapper namespace="com.example.demo.dao.UserDao">

<!--    회원가입-->
    <insert id="register" parameterType="com.example.demo.domain.UserVO">
        <![CDATA[
        insert into user_table (user_name, user_id, user_pw, user_email, zipcode, user_addr, user_detail_addr, user_goal)
        values (
            #{user_name}, #{user_id}, #{user_pw}, #{user_email},
            #{zipcode} ,#{user_addr}, #{user_detail_addr}, #{user_goal}
        )
        ]]>
    </insert>

<!-- 중복 아이디 검사-->
    <select id="checkUserIdExist" parameterType="string" resultType="java.lang.String">
        <![CDATA[
        select user_name
        from user_table
        where user_id = #{user_id}
        ]]>
    </select>

<!--    로그인-->
    <select id="getLoginUserInfo" resultType="com.example.demo.domain.UserVO" parameterType="com.example.demo.domain.UserVO">
        <![CDATA[
            select user_idx, user_name
            from user_table
            where user_id = #{user_id} and user_pw = #{user_pw}
        ]]>
    </select>


</mapper>